

.center-this{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-gradient{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,93,23,1) 100%);
}
.player-pic{
  max-height: 25vh;
  max-width: 18vh;
}
.split{
  display: flex;
  justify-content: space-between;
}

.pc {
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,93,23,1) 100%);
}


.pc button {
  background-color: inherit;
  color: azure;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}


.pc button:hover {
  background-color: rgb(76, 107, 65);
}

.pc button.active {
  background-color: rgb(76, 107, 65);
}

.pcContent {
  display: none;
}
.align-right {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.align-right:hover {color: red;}
